.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f5f6fa;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__link {
  color: #005eb8;
  text-decoration: none;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  color: #005eb8;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #768692;
}

.header__selected__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #425563;
  text-decoration: underline;
}
