.header {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  color: #005eb8;
  cursor: pointer;
}

.links {
  list-style-type: none;
  display: flex;
}

.link {
  margin-left: 10px;
  margin-right: 10px;
  color: #768692;
  font-weight: 800;
  cursor: pointer;
}

.active {
  color: #425563;
  text-decoration: underline;
}
