.header {
  position: sticky !important;
  z-index: 10;
  background-color: var(--bg-color);
  top: 0px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid darkgrey;
  margin-top: -10px;
  width: 100%;
}

.header ul {
  width: 100%;
}

.logoWrapper {
  margin-top: -5px;
}

.logo {
  color: var(--blue-text-color);
  cursor: pointer;
  font-size: 1.5em;
  margin-top: -5px;
}

.links {
  display: inline;
}

.profile {
  float: right;
}

.navbarExpandIcon {
  display: none !important;
  margin-top: 15px;
  cursor: pointer;
  float: right;
}

.themeToggle {
  color: var(--text-color);
  float: right;
  border: none !important;
}

@media (max-width: 648px) {
  /*Mobile view*/
  .navbarExpandIcon {
    display: inline-block !important;
  }

  .links.open {
    display: inline;
    background-color: #f6f9fc;
    border-radius: 10px;
    box-shadow: 1px 1px lightgrey;
    top: 35px;
    position: absolute;
    right: 0;
    user-select: none;
  }

  .links.open > li {
    display: block !important;
  }

  .links {
    display: none;
  }
}
