.input {
  border: 1px solid black;
  width: 100%;
}

.buttons {
  float: right;
}

.header {
  font-weight: bold;
  text-decoration: underline;
  color: var(--text-color);
}

.alertContent {
  display: flex;
  flex-direction: row;
}

.alertText {
  color: red;
}

.tableCell {
  color: inherit !important;
  background-color: inherit !important;
}
