.questionText {
  margin-bottom: 5px;
  text-align: left;
  color: #005eb8;
  font-weight: bold;
}

.question + .question {
  margin-top: 15px;
}

.wordsInputContainer {
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid black;
  margin: 5px;
}
