.questionText {
  margin-bottom: 5px;
  text-align: left;
  color: var(--blue-text-color);
  font-weight: bold;
}

.question {
  margin-top: 15px;
}

.wordsInputContainer {
  display: flex;
  justify-content: center;
}

.input {
  margin: 5px;
}

.input input[type='text'] {
  text-transform: lowercase;
}

.italicText {
  text-align: left;
  font-style: italic;
  margin-bottom: 5px;
}
