.body {
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.dateFilter {
  text-align: left;
  display: flex;
}

.title {
  text-align: left;
  display: flex;
  width: 20%;
}
.visualisationFilter {
  text-align: left;
  width: 200%;
  display: flex;
}

.button {
  text-align: right;
  display: flex;
}
