.title {
  text-align: center;
}

.legend {
  text-align: center;
  font-style: italic;
}

.message {
  text-align: center;
  width: 80%;
  margin: auto;
}

.loading {
  display: block !important;
  text-align: center;
}
