.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.url {
  width: 50%;
}

.actionButtons {
  margin: auto;
}

.actionButtons button {
  margin-top: 2px;
}

.actionButtons > * {
  display: inline;
  margin-left: 5px;
}

@media (max-width: 648px) {
  /*Mobile view*/
  .url {
    width: 100%;
  }

  .intro {
    flex-direction: column;
    text-align: center;
  }

  .button {
    margin: auto;
    margin-top: 10px;
    width: 50%;
  }
}
