.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: 0px;
  color: var(--text-color);
  border-top: 1px solid darkgrey;
  text-align: Center;
  display: inline-block;
  justify-content: space-evenly;
}
