.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-top: 1px solid darkgrey;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.link {
  max-width: 25%;
}
