.footer {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-top: 1px solid darkgrey;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-top: 10px;
}

.link {
  max-width: 25%;
}
