.questionText {
  margin-bottom: 5px;
  text-align: left;
  color: #005eb8;
  font-weight: bold;
}

.question + .question {
  margin-top: 15px;
}

.unAnsweredAlert {
  display: block;
  color: red;
  margin-bottom: 5px;
}
