.question {
  padding: 5px;
  margin-top: 15px;
}

.questionText {
  margin-bottom: 5px;
  text-align: left;
  color: var(--blue-text-color);
  font-weight: bold;
}

.unAnsweredAlert {
  display: block;
  color: red;
  margin-bottom: 5px;
}
