.mainQuestion {
  font-style: italic;
  font-size: 1.1em;
}

.selfReportingContainer {
  width: 80%;
  margin: auto;
}

.mentoringSessionContainer {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.mentoringToggle {
  margin-left: 5px;
}

.unAnsweredAlert {
  display: block;
  color: red;
  margin-bottom: 5px;
}

.submit {
  display: block;
  margin: auto;
  margin-top: 10px;
}
