.submit {
  display: block;
  margin: auto;
}

.selfAssessmentContainer {
  text-align: center;
  width: 80%;
  margin: auto;
}

.mentoringSessionContainer {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.mentoringSessionRadios {
  margin-left: 10px;
}

.unAnsweredAlert {
  display: block;
  color: red;
  margin-bottom: 5px;
}
