.submit {
  display: block;
  margin: auto;
}

.selfAssessmentContainer {
  text-align: center;
  width: 60%;
  margin: auto;
}

.mentoringSessionContainer {
  display: block;
}

.mentoringSessionRow {
  display: flex;
  flex-direction: row;
}
