.content {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.filters {
  width: 20%;
  margin-top: 10px;
}

.graph {
  text-align: right;
  width: 80%;
}

@media (max-width: 648px) {
  /*Mobile view*/

  .content {
    flex-direction: column;
  }

  .filters {
    width: 100%;
  }

  .graph {
    width: 100%;
  }
}
