html {
  scroll-behavior: smooth;
}

html,
body {
  /* font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 10px;
}

body {
  --bg-color: #f6f9fc;
  --blue-text-color: #005eb8;
  background-color: var(--bg-color);
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #f6f9fc;
  --blue-text-color: #3498ff;
  color: var(--text-color);
}

/* overriding certain components style to match for dark mode*/
body .rs-panel-title {
  color: var(--text-color);
}

body .MuiTableCell-stickyHeader {
  background-color: var(--bg-color);
}

body .MuiTableCell-body {
  color: var(--text-color);
}

body .rs-calendar-table-cell-content {
  color: black;
}

body .rs-calendar-table-cell-in-range .rs-calendar-table-cell-content {
  color: black;
}

body .rs-modal-content {
  background-color: var(--bg-color);
}

body .rs-btn-ghost {
  border: 0px;
  color: var(--text-color);
}
