.circle {
  width: 10%;
}

.circleLabel {
  transform: translateY(0.2em);
}

.percentage {
  font-size: 0.6em;
  text-anchor: middle;
}

.leftOffset {
  margin-left: -15px;
}

.rightOffset {
  margin-left: 10px;
}
